:root{
  font-size: 62.5%;
  --orange-color: #FF6600;
  --black-color: #1C1C1C;
  --gray-color: #666666;
  --gray-color-2:#404040;
  --white-color: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  background-color: var(--black-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.app-container h1{
  text-transform: uppercase;
  color: var(--white-color);
}

.itens-container{
  display: flex;
  gap: .8rem;
  flex-wrap: wrap;
}

.item{
  width: 100px;
  height: 100px;
}

.itens-container{
  display: flex;
}

.first-color{
  background-color: var(--orange-color);
}

.second-color{
  background-color: var(--gray-color-2);
}

.third-color{
  background-color: var(--gray-color);
}

.fifth-color{
  background-color: var(--white-color);
}